# Python caches
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env
.env.*

# Build / packaging artifacts
*.egg-info/
.dist/
.build/

# Testing / tooling caches
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
